<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkinglocator">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowOrderActivity"></activity>
        <activity android:name=".ConformOrderActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".RegisterFragment" />
        <activity android:name=".Date_Time_Activity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ParkingOwnerProfileActivity" />
        <activity android:name=".AddTwoWheelerActivity" />
        <activity android:name=".AddFourWheelerActivity" />
        <activity android:name=".ParkingOwnerClickActivity" />
        <activity android:name=".ParkingOwnerAddParkingDetails" />
        <activity android:name=".ParkingOwnerMainActivity" />
        <activity android:name=".ParkingOwnerRegisterActivity" >

        </activity>
        <activity android:name=".ParkingOwnerLoginActivity" >
        </activity>
        <activity android:name=".ResetpasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>